<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*[Xx]unit.*</ModulePath>
                <ModulePath>.*\.Tests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <SourceFiles>
              <Exclude>
                <SourceFile>.*[\\/]Migrations[\\/].*</SourceFile>
                <SourceFile>.*Designer\.cs$</SourceFile>
                <SourceFile>.*Generated.*\.cs$</SourceFile>
              </Exclude>
            </SourceFiles>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
