version: "3.9"

secrets:
  kulku-default-conn:
    external: true
  kulku-user-conn:
    external: true
  kulku-recaptcha-secret:
    external: true

services:
  api:
    image: ghcr.io/arawnik/kulku-api:stable
    restart: unless-stopped
    secrets:
      - kulku-default-conn
      - kulku-user-conn
      - kulku-recaptcha-secret
    volumes:
      - /var/www/manager/letsencrypt:/etc/letsencrypt:ro
    environment:
      ASPNETCORE_HTTPS_PORTS: 7219
      ForceHttps: "true"
      ASPNETCORE_ENVIRONMENT: Production
    ports:
      - 7219:7219
      - 5144:5144

  admin:
    image: ghcr.io/arawnik/kulku-admin:stable
    restart: unless-stopped
    secrets:
      - kulku-default-conn
      - kulku-user-conn
    volumes:
      - /var/www/manager/letsencrypt:/etc/letsencrypt:ro
    environment:
      ASPNETCORE_HTTPS_PORTS: 7215
      ForceHttps: "true"
      ASPNETCORE_ENVIRONMENT: Production
      Management__MigrateOnStart: "true"
    ports:
      - 7215:7215
      - 5090:5090

  client:
    image: ghcr.io/arawnik/kulku-client:stable
    restart: unless-stopped
    volumes:
      - /var/www/jerejunttila/out/downloads:/app/public/static/downloads:ro
      - /var/www/jerejunttila/out/profile:/app/public/static/profile:ro
      - /var/www/jerejunttila/out/projects:/app/public/static/projects:ro
    environment:
      - NEXT_PUBLIC_RECAPTCHA_SITE_KEY
      - NEXT_PUBLIC_EN_HOSTS
      - NEXT_PUBLIC_FI_HOSTS
      - API_BASE_URL
      - BASE_PROTO
    ports:
      - 8086:3000
    depends_on:
      - api