@inherits LayoutComponentBase

<div class="page">
	<aside>
		<NavMenu />
	</aside>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	@LayoutStrings.Error_Unhandled
	<a href="." class="reload">@Strings.Reload</a>
	<span class="dismiss">🗙</span>
</div>
