// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../lib/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import '_variables.scss';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here
@import '_map.scss';

// 5. Include remainder of required parts
@import '../lib/bootstrap/scss/maps';
@import '../lib/bootstrap/scss/mixins';
@import '../lib/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '../lib/bootstrap/scss/utilities';
@import '../lib/bootstrap/scss/reboot';
@import '../lib/bootstrap/scss/type';
@import '../lib/bootstrap/scss/images';
@import '../lib/bootstrap/scss/containers';
@import '../lib/bootstrap/scss/grid';
@import '../lib/bootstrap/scss/helpers';

@import '../lib/bootstrap/scss/alert';
@import '../lib/bootstrap/scss/badge';
@import '../lib/bootstrap/scss/buttons';
@import '../lib/bootstrap/scss/card';
@import '../lib/bootstrap/scss/dropdown';
@import '../lib/bootstrap/scss/forms';
@import '../lib/bootstrap/scss/nav';
@import '../lib/bootstrap/scss/navbar';
@import '../lib/bootstrap/scss/placeholders';
@import '../lib/bootstrap/scss/progress';
@import '../lib/bootstrap/scss/tables';
@import '../lib/bootstrap/scss/transitions';
@import '../lib/bootstrap/scss/toasts';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../lib/bootstrap/scss/utilities/api';

// 8. Add additional custom code here
@import '_functions.scss';
@import 'theme.scss';
