name: Test Build

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Manual trigger

permissions:
  contents: read

env:
  DOTNET_VERSION: '10.0.x'
  NODE_VERSION: '22'

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: src/Kulku.Web/kulku.web.client/package-lock.json

      - name: Install client
        working-directory: src/Kulku.Web/kulku.web.client
        run: npm ci

      - name: Restore server
        run: dotnet restore ./Kulku.slnx
      
      - name: Build
        run: dotnet build -c Release --no-restore
    
      - name: Test server
        run: dotnet test -c Release --no-restore --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/**/coverage.cobertura.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

#      - name: Test client
#        working-directory: src/Kulku.Web/kulku.web.client
#        run: npm run test
