name: Test Build

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

env:
  DOTNET_VERSION: '10.0.x'
  NODE_VERSION: '22'

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: src/Kulku.Web/kulku.web.client/package-lock.json

      - name: Install client
        working-directory: src/Kulku.Web/kulku.web.client
        run: npm ci

      - name: Restore server
        run: dotnet restore ./Kulku.slnx
      
      - name: Build
        run: dotnet build -c Release --no-restore
    
      - name: Test server
        run: dotnet test -c Release --no-restore --no-build --verbosity normal

#      - name: Test client
#        working-directory: src/Kulku.Web/kulku.web.client
#        run: npm run test
